In [1]:
import pandas as pd
data = pd.read_csv("housing.csv")
data_frame = pd.DataFrame(data)
#spliting train and test set
from sklearn.model_selection import train_test_split
train_set , test_set = train_test_split(data_frame , test_size=0.2 , random_state=42)
train_set

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,103000.0,NEAR OCEAN
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,382100.0,NEAR OCEAN
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,172600.0,NEAR OCEAN
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,93400.0,NEAR OCEAN
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,96500.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
11284,-117.96,33.78,35.0,1330.0,201.0,658.0,217.0,6.3700,229200.0,<1H OCEAN
11964,-117.43,34.02,33.0,3084.0,570.0,1753.0,449.0,3.0500,97800.0,INLAND
5390,-118.38,34.03,36.0,2101.0,569.0,1756.0,527.0,2.9344,222100.0,<1H OCEAN
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0,<1H OCEAN
15795,-122.42,37.77,52.0,4226.0,1315.0,2619.0,1242.0,2.5755,325000.0,NEAR BAY

In [2]:
#splitting features and labels
features = train_set.drop("median_house_value" , axis=1)
labels = train_set["median_house_value"].copy()
#ENCODING CATEGORICAL FEATURES 
from sklearn.preprocessing import OneHotEncoder
cat_encoder = OneHotEncoder()
housing_cat = features[["ocean_proximity"]]
housing_cat_one_hot = cat_encoder.fit_transform(housing_cat)
housing_cat_one_hot_dataframe = pd.DataFrame(
    housing_cat_one_hot.toarray(),
    columns = cat_encoder.get_feature_names_out(),
    index = features.index 
)
#lets drop ocean proximity form the features dataset
features.drop("ocean_proximity" , axis = 1 , inplace = True)
#now concating into feature dataframe with the help of the  pandas
import pandas as pd
features_as_x  = pd.concat([features , housing_cat_one_hot_dataframe] , axis = 1)
features_as_x

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,0.0,0.0,0.0,0.0,1.0
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,0.0,0.0,0.0,0.0,1.0
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,0.0,0.0,0.0,0.0,1.0
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,0.0,0.0,0.0,0.0,1.0
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,-117.96,33.78,35.0,1330.0,201.0,658.0,217.0,6.3700,1.0,0.0,0.0,0.0,0.0
11964,-117.43,34.02,33.0,3084.0,570.0,1753.0,449.0,3.0500,0.0,1.0,0.0,0.0,0.0
5390,-118.38,34.03,36.0,2101.0,569.0,1756.0,527.0,2.9344,1.0,0.0,0.0,0.0,0.0
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,1.0,0.0,0.0,0.0,0.0
15795,-122.42,37.77,52.0,4226.0,1315.0,2619.0,1242.0,2.5755,0.0,0.0,0.0,1.0,0.0

In [3]:
#now using simple imputer to fill missing values with mediaN 
from sklearn.impute import SimpleImputer
imputer  = SimpleImputer(strategy="median")
X = imputer.fit_transform(features_as_x)
#making changes into orginal features dataframe
features_as_x = pd.DataFrame(X , columns=features_as_x.columns , index = features_as_x.index)

In [5]:
#feature scaling why feature scaling is important ? = 
# to ensure that the all features are comparable 
# many ml models think all features are comparable and on a same scale
# large features can dominate smaller which cna affect the output (label) or performance of model

In [7]:
#using min - max scaling also known as normalization
from sklearn.preprocessing import MinMaxScaler
feature_range = (-1 , 1)
min_max_scaler_model = MinMaxScaler(feature_range=feature_range)
data_scaled_with_normalizaton = min_max_scaler_model.fit_transform(features_as_x)
data_scaled_with_normalizaton_dataframe = pd.DataFrame(data_scaled_with_normalizaton , columns=features_as_x.columns , index=features_as_x.index)
data_scaled_with_normalizaton_dataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
14196,0.458167,-0.965957,0.254902,-0.841091,-0.805711,-0.871241,-0.795428,-0.619357,-1.0,-1.0,-1.0,-1.0,1.0
8267,0.233068,-0.740426,0.882353,-0.828069,-0.756052,-0.926511,-0.751686,-0.543096,-1.0,-1.0,-1.0,-1.0,1.0
17445,-0.229084,-0.551064,-0.882353,-0.903606,-0.897579,-0.948877,-0.889821,-0.495676,-1.0,-1.0,-1.0,-1.0,1.0
14265,0.442231,-0.970213,0.372549,-0.927819,-0.886406,-0.920682,-0.883572,-0.801023,-1.0,-1.0,-1.0,-1.0,1.0
2271,-0.093625,-0.100000,0.647059,-0.878936,-0.866543,-0.951176,-0.875349,-0.578723,-1.0,1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,0.272908,-0.738298,0.333333,-0.932448,-0.937927,-0.963284,-0.928959,-0.190342,1.0,-1.0,-1.0,-1.0,-1.0
11964,0.378486,-0.687234,0.254902,-0.843227,-0.823402,-0.901903,-0.852656,-0.648267,-1.0,1.0,-1.0,-1.0,-1.0
5390,0.189243,-0.685106,0.372549,-0.893230,-0.823712,-0.901735,-0.827002,-0.664212,1.0,-1.0,-1.0,-1.0,-1.0
860,-0.523904,0.070213,-0.450980,-0.818251,-0.815022,-0.900558,-0.816478,-0.280106,1.0,-1.0,-1.0,-1.0,-1.0
15795,-0.615538,0.110638,1.000000,-0.785137,-0.592179,-0.853359,-0.591843,-0.713714,-1.0,-1.0,-1.0,1.0,-1.0

In [9]:
#Standardiztiaon also known as z score normalization it is the feature scaling method used to scale features on the
#same scale so the result or outcome have mean of 0 and  standard deviation of 1 
#formula = z score normalization = (X - mean) / standard deviation
#now lets see the practical example of standardization using the sckit learn
from sklearn.preprocessing import StandardScaler
#first step done
model = StandardScaler()
#second step done
data_scaled_with_standardization = model.fit_transform(features_as_x)
data_scaled_with_z_score_dataframe = pd.DataFrame(data_scaled_with_standardization ,
                                                  columns = features_as_x.columns,
                                                  index = features_as_x.index)
data_scaled_with_z_score_dataframe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
14196,1.272587,-1.372811,0.348490,0.222569,0.211228,0.768276,0.322906,-0.326196,-0.894683,-0.680574,-0.015566,-0.355646,2.629758
8267,0.709162,-0.876696,1.618118,0.340293,0.593094,-0.098901,0.672027,-0.035843,-0.894683,-0.680574,-0.015566,-0.355646,2.629758
17445,-0.447603,-0.460146,-1.952710,-0.342597,-0.495226,-0.449818,-0.430461,0.144701,-0.894683,-0.680574,-0.015566,-0.355646,2.629758
14265,1.232698,-1.382172,0.586545,-0.561490,-0.409306,-0.007434,-0.380587,-1.017864,-0.894683,-0.680574,-0.015566,-0.355646,2.629758
2271,-0.108551,0.532084,1.142008,-0.119565,-0.256559,-0.485877,-0.314962,-0.171488,-0.894683,1.469348,-0.015566,-0.355646,-0.380263
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,0.808883,-0.872016,0.507194,-0.603337,-0.805492,-0.675847,-0.742833,1.307215,1.117714,-0.680574,-0.015566,-0.355646,-0.380263
11964,1.073144,-0.759688,0.348490,0.203255,0.075188,0.287195,-0.133839,-0.436266,-0.894683,1.469348,-0.015566,-0.355646,-0.380263
5390,0.599469,-0.755007,0.586545,-0.248786,0.072801,0.289833,0.070909,-0.496973,1.117714,-0.680574,-0.015566,-0.355646,-0.380263
860,-1.185540,0.906510,-1.079841,0.429046,0.139628,0.308303,0.154908,0.965450,1.117714,-0.680574,-0.015566,-0.355646,-0.380263
15795,-1.414898,0.995437,1.856173,0.728414,1.853254,1.048834,1.947764,-0.685448,-0.894683,-0.680574,-0.015566,2.811787,-0.380263