In [4]:
import pandas as pd
df_test = pd.read_csv("smartphone_data.csv")
df_test_ = df_test.tail(200)
df_test_.to_csv("smartphone_data_test.csv" , index=False)

In [5]:
import pandas as pd
data = pd.read_csv("iris.data" , delimiter  = "," , header=None)
data.columns = ["sepallengthincm" , "sepalwidthincm" , "petallengthincm" , "petalwidthincm" , "class"]
data.to_csv("iris.csv" , index = False )

In [6]:
import pandas as pd
data2  = pd.read_csv("iris.csv")
df2 = pd.DataFrame(data2)
df2

,sepallengthincm,sepalwidthincm,petallengthincm,petalwidthincm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
df2.head()

,sepallengthincm,sepalwidthincm,petallengthincm,petalwidthincm,class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa