In [1]:
import pandas as pd
data = pd.read_csv('housing.csv')
df = pd.DataFrame(data)
#splitting train set
from sklearn.model_selection import train_test_split
train_set , test_set = train_test_split(df , test_size = 0.2 , random_state= 42)
#clearning the train data
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")
housing_num = train_set.drop("ocean_proximity" , axis=1)
X =imputer.fit_transform(housing_num)
housing_tr = pd.DataFrame(X , columns=housing_num.columns , index= housing_num.index)
housing_tr["ocean_proximity"] = train_set["ocean_proximity"]
housing_tr

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,103000.0,NEAR OCEAN
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,382100.0,NEAR OCEAN
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,172600.0,NEAR OCEAN
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,93400.0,NEAR OCEAN
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,96500.0,INLAND
...,...,...,...,...,...,...,...,...,...,...
11284,-117.96,33.78,35.0,1330.0,201.0,658.0,217.0,6.3700,229200.0,<1H OCEAN
11964,-117.43,34.02,33.0,3084.0,570.0,1753.0,449.0,3.0500,97800.0,INLAND
5390,-118.38,34.03,36.0,2101.0,569.0,1756.0,527.0,2.9344,222100.0,<1H OCEAN
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0,<1H OCEAN
15795,-122.42,37.77,52.0,4226.0,1315.0,2619.0,1242.0,2.5755,325000.0,NEAR BAY

In [5]:
categorical = housing_tr[["ocean_proximity"]]
#handaling categorical data using ordinal encoding
# from sklearn.preprocessing import OrdinalEncoder
# ordinal_encoder  = OrdinalEncoder()
# housing_cat_encoded = ordinal_encoder.fit_transform(categorical)
# housing_cat_encoded = pd.DataFrame(housing_cat_encoded , columns=["ocean_proximity"] , index=housing_tr.index)
# housing_tr["ocean_proximity"] = housing_cat_encoded
# housing_tr
#using one hot encoding
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder  = OneHotEncoder()
housing_cat_1hot = one_hot_encoder.fit_transform(categorical)
housing_cat_1hot = housing_cat_1hot.toarray()
housing_tr["ocean_proximity"] = housing_cat_1hot

In [6]:
housing_tr

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14196,-117.03,32.71,33.0,3126.0,627.0,2300.0,623.0,3.2596,103000.0,0.0
8267,-118.16,33.77,49.0,3382.0,787.0,1314.0,756.0,3.8125,382100.0,0.0
17445,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,172600.0,0.0
14265,-117.11,32.69,36.0,1421.0,367.0,1418.0,355.0,1.9425,93400.0,0.0
2271,-119.80,36.78,43.0,2382.0,431.0,874.0,380.0,3.5542,96500.0,0.0
...,...,...,...,...,...,...,...,...,...,...
11284,-117.96,33.78,35.0,1330.0,201.0,658.0,217.0,6.3700,229200.0,1.0
11964,-117.43,34.02,33.0,3084.0,570.0,1753.0,449.0,3.0500,97800.0,0.0
5390,-118.38,34.03,36.0,2101.0,569.0,1756.0,527.0,2.9344,222100.0,1.0
860,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0,1.0
15795,-122.42,37.77,52.0,4226.0,1315.0,2619.0,1242.0,2.5755,325000.0,0.0

In [8]:
#feature scaling
#min - max scaling (normalization)
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler(feature_range=(-1, 1))
housing_num_min_max_scaled = min_max_scaler.fit_transform(housing_num)

In [11]:
housing_num_min_max_scaled

array([[ 0.45816733, -0.96595745,  0.25490196, ..., -0.79542838,
        -0.61935697, -0.63711077],
       [ 0.23306773, -0.74042553,  0.88235294, ..., -0.75168558,
        -0.54309596,  0.51381231],
       [-0.22908367, -0.55106383, -0.88235294, ..., -0.88982075,
        -0.49567592, -0.35010165],
       ...,
       [ 0.18924303, -0.68510638,  0.37254902, ..., -0.82700214,
        -0.66421153, -0.14597878],
       [-0.52390438,  0.07021277, -0.45098039, ..., -0.81647755,
        -0.28010648,  0.10721605],
       [-0.61553785,  0.1106383 ,  1.        , ..., -0.59184345,
        -0.71371429,  0.27834937]])